
// ----------- Container -------------- //
.wrapper{
  @apply max-w-7xl m-auto px-4 xl:px-0;
}

// ---------- sizing ---------- //
.heading{
  @apply text-4xl m-0 leading-none;
}

.subheading{
  @apply text-base m-0 leading-none;
}

// ----------- Buttons ----------- //
.btn{
}
.btn-primary{
  @extend .btn;
}
.btn-secondary{
  @extend .btn;
}

.rounded-lg-img img{
    border-radius: 0.5rem;
}
.rounded-full-img img{
    border-radius: 9999px;
}
.rounded-l-lg-img img{
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem,; 
}
// ----------- Fonts ----------- //
.font-kaushan{
  font-family: 'Kaushan Script', cursive;
}

/* ---------- Input style ----------  */
.w-input{
    @apply w-full m-auto md:w-96 md:max-w-full;
}
.h-input{
    @apply h-12;
}

.default-input{
    @apply w-full pl-5 border rounded-md border-slate-200 focus:border-blue-400;
}